// COLOR VARIABLES
// Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$soft-green: hsl(123, 77%, 58%);

// Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$grey: rgb(247, 247, 245);
$ash: rgb(31, 31, 31);
$white: #fff;


// FONT COLOR
$dark-font: rgb(34, 39, 69);
$light-font:  rgb(139, 139, 139);
$white-font: #fff;

//TRANSITION
$link-trans: all ease-in-out 0.3s;